.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 20px;
    gap: 30px;
}
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}
.header span{
    color: #d744a1;
    font-weight: 600;
}
.img-loading{
    display: flex;
    flex-direction: column;
}
.img-loading img{
    width: 312px;
    outline: 1px solid #d744a1;
    border-radius: 10px;
}
.search-box{
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}
.search-input{
    width: 600px;
    height: 65px;
    border-radius: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #ffffff;
    padding-left: 30px;
    margin-right: 35px;
}
.search-input::placeholder{
    color: #999999;
}
.generate-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    font-size: 20px;
    border-radius: 50px;
    background: #d744a1;
    cursor: pointer;
}
.loading-bar{
    width: 0px;
    height: 3px;
    background: #d744a1;
}
.loading-text{
    font-size: 18px;
}
.loading-bar-full{
    width: 312px;
    height: 3px;
    background:linear-gradient(to right, #431e48,30%, #933787,70%, #d744a1);
    transition: 12s;
}
.display-none{
    display: none;
}
.footer img{
    width: 15px;
    height: 15px;
}
.footer a {
    text-decoration: none;
    color: yellow;
  }
