.ai-image-generator{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 20px;
    gap: 30px;
}
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}
.header span{
    color: #d744a1;
    font-weight: 600;
}
.image-container {
    display: inline-block;
    position: relative;
  }
  
  .image-container img {
    position: relative;
  }

.model-label {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #1f3540;
    color: #ffffff;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}
  
.model-select select{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #1f3540;
    color: #ffffff;
    height: 40px;
    vertical-align: middle;
    font-size: 16px;
}

.model-select select option {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #1f3540;
    color: #ffffff;
}
  
.model-select select option[selected] {
    background-color: #d744a1;
    color: #ffffff;
}

.img-loading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.img-loading img{
    width: 312px;
    margin: 0 15px;
}
.search-box{
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}
.search-input{
    width: 600px;
    height: 65px;
    border-radius: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #ffffff;
    padding-left: 30px;
    margin-right: 35px;
}
.search-input::placeholder{
    color: #999999;
}
.generate-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    font-size: 20px;
    border-radius: 50px;
    background: #d744a1;
    cursor: pointer;
}
.loading-bar{
    width: 0px;
    height: 3px;
    background: #ff0000;
}
.loading-text{
    font-size: 18px;
}
.loading-bar-full{
    width: 1020px;
    height: 4px;
    background: linear-gradient(
        to right,
        #ff0000,
        8.33%, #ff9900, 
        16.67%, #ffff00,
        25%, #00ff00,
        33.33%, #0000ff,
        41.67%, #4b0082,
        50%, #ee82ee, 
        58.33%, #ff00ff,
        66.67%, #ffcc00, 
        75%, #00ffff,
        83.33%, #ff00ff,
        91.67%, #ffcc00,
        100%, #ffcc00
      );
    transition: 12s;
}
.display-none{
    display: none;
}
.footer img{
    width: 15px;
    height: 15px;
}
.footer a {
    text-decoration: none;
    color: yellow;
  }
